:root {
  /*шрифти*/
  /*  font-family  */
  --font-family: "Poppins", sans-serif;
  --second-family: "Segoe Script", sans-serif;
  --third-family: "Dancing Script", sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Кольори */
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray-–-900: #1a1a1a;
  --gray-scale-gray-–-800: #333;
  --gray-scale-gray-–-700: #4d4d4d;
  --gray-scale-gray-–-600: #666;
  --gray-scale-gray-–-500: #808080;
  --gray-scale-gray-–-400: #999;
  --gray-scale-gray-–-300: #b3b3b3;
  --gray-scale-gray-–-200: #ccc;
  --gray-scale-gray-–-100: #e6e6e6;
  --gray-scale-gray-–-50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;

  /* Shadows */
  --box-shadow-xl: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  /* Тіні */
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --box-shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

  /* Відступи та поля */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --section-padding: 3rem 0;

  /* Брейкпойнти (Media Query Breakpoints) */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* Радіуси заокруглення */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-pill: 50rem; /* Для круглих елементів */

  /* Тривалості анімацій та переходів */
  --duration-fast: 0.15s;
  --duration-normal: 0.3s;
  --duration-slow: 0.5s;
  --transition-default: all var(--duration-normal) ease-in-out;

  /* Значення z-index */
  --z-index-dropdown: 1000;
  --z-index-sticky: 1020;
  --z-index-modal: 1050;
  --z-index-tooltip: 1080;
}
